h1 {
  font-size: 35px;
  color: red;
	text-align: center;
}

section {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

section > div {
  width: 50%;
  background-color: lightgray;
  border-radius: 15px;
  padding: 20px;
}

ul {
  list-style: none;
}
